@import 'variables';

* {
    box-sizing: border-box;
}
body {
    background: $gray;
    font-family: avenir;
    margin: 0;
}
h1 {
    background: #fff;
    font-size: 3rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
}
nav {
    background: $accent;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}
nav.in-game {
    background: $gray;
    bottom: 0;
}
nav button {
    background: transparent;
    border: 0;
    border-bottom: 3px solid $accent;
    color: #fff;
    font-size: 1rem;
    transition: all .3s;
}
nav button:hover,
nav button:active,
nav button:focus {
    border-bottom: 3px solid #fff;
    cursor: pointer;
    outline: 0;
}
nav.in-game button {
    border: 5px solid $accent;
    color: $accent;
    margin-bottom: 2rem;
    padding: 1rem;
}
nav.in-game button:hover {
    background: $accent;
    color: #fff;
}
.question-wrapper {
    height: calc(100vh - 58px);
    margin: 0 auto;
    width: 100%;
}
.question-wrapper p {
    background: $accent;
    box-shadow: 2px 3px 2px rgba(0,0,0,.25);
    color: #fff;
    margin: 0;
    padding: 10rem 3rem;
    text-align: center;
}
.answer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.answer-list fieldset {
    background: #fff;
    border: 0;
    border-radius: 15px;
    margin: .5rem;
    transition: all .3s;
    width: 40%;
}
.answer-list fieldset:hover,
.answer-list fieldset:focus,
.answer-list fieldset:active {
    background: $accent;
    color: #fff;
    cursor: pointer;
}
.answer-list .submit-wrapper {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}
.answer-list input[type="submit"] {
    background: $accent;
    border: 3px solid $accent;
    color: #fff;
    font-size: 1rem;
    transition: all .3s;
}
.answer-list input[type="submit"]:hover,
.answer-list input[type="submit"]:focus,
.answer-list input[type="submit"]:active {
    background: #fff;
    color: $accent;
    cursor: pointer;
}